.container {
  display: flex;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9994;
  transform: translateZ(0);
  justify-content: center;
  align-items: center;
}

.hiddenContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(22, 24, 29, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  height: 100%;
  position: absolute;
}
